$off-white: #f0f0f0;
$light-grey: #a0a0a0;
$dark-grey: #202020;

@mixin bold{
	font-family: 'Helvetica W01 Bold';
}

@mixin roman{
	font-family: 'Helvetica W01 Roman';
}

body
{
	font-family: 'Helvetica W01 Roman', "Arial", sans-serif;
	background-color: $light-grey;
	margin: 0px;
	width: 100%;
}


input
{
	@include bold;
	border: 2px solid $off-white;
	border-radius: 2px;
	font-size: medium;
	&[type="text"]
	{
		color: $dark-grey;
		background-color: $off-white;
	}
	&[type="submit"]
	{
		color: $off-white;
		background-color: $dark-grey;
	}
}

.header 
{
	color: $off-white;
	background-color: $dark-grey;
	/*width: 100%;*/
	position: relative;
	padding: 4px;
	padding-left: 8px;
	border-bottom: 2px solid #000;
}

.title
{
	@include bold;
	font-size: xx-large;
}

.subtitle
{
	@include bold;
	font-size: large;
}

.login_status
{
	@include roman;
	font-size: medium;
	position: absolute;
	vertical-align: baseline;
	bottom: 4px;
	right: 4px;
	float: right;
}

#login_form 
{
	display: inline;
}

#mti_wfs_colophon
{
	display: none !important;
}