body
{
	font-family: 'Helvetica W01 Roman', "Arial", sans-serif;
}

.title
{
	font-family: 'Helvetica W01 Bold';
	font-size: xx-large;
}

.subtitle
{
	font-family: 'Helvetica W01 Bold';
	font-size: x-large;
}

.login_status
{
	font-family: 'Helvetica W01 Roman';
	font-size: small;
}

#mti_wfs_colophon
{
	display: none !important;
}