<h1>API test harness</h1>

<h3>login</h3>
<form action="/api/login" method="post" target="result">
    name = <input type="text" name="name"></input>
    <input type="submit"></input>
</form>

<h3>join</h3>
<form action="/api/join" method="post" target="result">
    plid = <input type="text" name="plid"></input>
    <input type="submit"></input>
</form>

<h3>newgame</h3>
<form action="/api/newgame" method="post" target="result">
    n_players = <input type="text" name="n_players"></input>
    <input type="submit"></input>
</form>

<h3>nextpoint</h3>
<form action="/api/nextpoint" method="post" target="result">
    <input type="submit"></input>
</form>

<h3>play</h3>
<form action="/api/play" method="post" target="result">
    plid = <input type="text" name="plid"></input><br>
    anids = <input type="text" name="anids"></input><br>
    <input type="submit"></input>
</form>

<h3>games</h3>
<form action="/api/games" method="get" target="result">
    <input type="submit"></input>
</form>

<h3>status</h3>
<form action="/api/status" method="get" target="result">
    plid = <input type="text" name="plid"></input><br>
    <input type="submit"></input>
</form>

<i>last result: <iframe name="result"></iframe></i>